body{
    background-color: white;
    height: auto;
    min-height: max-content;
}
header{
    background-color: white;
    width: 100%;
    padding: 10px;
    height: 80px;
    padding-top: 0px;
}
header img{
    height: 50px;
    margin-right: 100px;
    padding-left: 50px;
    padding-bottom: 0px;
}
header nav {
    display: flex;
    width: 50%;
    margin-left: auto;
    font-size: medium;
}
header a{
    padding-left: 10px;
    word-spacing: normal;
    border: 1ch;
    margin-left: auto;
    font-size: large;
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0px;
    margin-right: 20px;
}
main{
    height: 70%;
}
.int{
    background-color: rgb(55, 207, 24);
    background-image: url("./image/2-scaled.jpg");
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    filter: saturate(0.5);
}
main div{
    background-color: white;
    width: 60%;
    
}
div h1{
    color: #131B3A;
    font-family: "Rajdhani", Sans-serif;
    font-size: 3em;
    font-weight: 400;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
}
h5{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}